<!DOCTYPE html PUBLIC "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
   <title>Coccinellery: A gallery of semantic patches for use with Coccinelle</title>
   <link type="text/css" rel="stylesheet" href="./files/content.css">
   <link type="text/css" rel="stylesheet" href="./files/menu.css">
</head>
<body>
<div id="header">
<table border="0" width="100%" cellpadding="10" cellspacing="0">
   <tbody><tr>
      <td align="left" width="100%"><img src="./files/CoccinelleInside_s.jpg"> <font size=6>http://coccinellery.org/</font></td>
   </tr></tbody>
</table>
</div>
<div id="menu">
  <div>
   <a href="http://coccinellery.org/">Coccinellery Home</a>
  </div>
  <div class="submenu">
    <label>Coccinellery Targets</label>
    <a href="#Generic">Generic</a>
    <a href="#Linux">Linux</a>
  </div>
  <div class="submenu">
    <label>Coccinellery Links</label>
    <a href="https://github.com/coccinelle/coccinellery">Github repository</a>
    <a href="https://github.com/coccinelle/coccinellery/archive/master.zip">Download all files (zip)</a>
  </div>
  <div class="submenu">
    <label>Coccinelle Info</label>
    <a href="http://coccinelle.lip6.fr/">Coccinelle Home</a>
    <a href="http://coccinelle.lip6.fr/contact.php">Contacts</a>
  </div>
</div>
<div id="content">
This is a gallery of semantic patches for use with <a href="http://coccinelle.lip6.fr/">Coccinelle</a>. They are extracted automatically from a collection of semantic patches that have been used to create patches for the Linux Kernel and other software. The descriptions are derive from the commit messages contained in those patches. There is no guarantee that the descriptions are correct or understandable, and no guarantee that the semantic patches are correct, complete, or work with the latest version of Coccinelle. Comments and corrections may be sent to the Coccinelle mailing list: <a href="mailto:cocci@systeme.lip6.fr">cocci@systeme.lip6.fr</a>, <a href="https://systeme.lip6.fr/mailman/listinfo/cocci">list info page</a>. To propose new semantic patches to add to the gallery, please make a <a href="https://help.github.com/articles/fork-a-repo">pull request</a> via Github to <a href="https://github.com/coccinelle/coccinellery">Coccinellery repository</a>.
<P>&nbsp;<P>
<HR>
